.full-width {
  width: 100%;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

mat-dialog-content {
  padding: 20px 24px;
}

mat-dialog-actions {
  padding: 8px 24px 20px;
}
